<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sesion de {{name}}</title>

    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

  </head>
  <body class="bg-gray-200">
    
    <!-- {{{body}}} -->

    <div class="container mx-auto mt-8 px-4">
      <h2 class="text-3xl font-semibold mb-4">Bienvenido {{name}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id ligula in lorem commodo pellentesque. In hac habitasse platea dictumst. Aenean ac dapibus metus. Maecenas id lacus eu enim dapibus convallis. Duis laoreet, sapien vitae tempor semper, nunc urna viverra dolor, ut efficitur elit lectus eget ante. Pellentesque ac mauris lacinia, rutrum lorem in, condimentum nisl. Etiam efficitur lacus sit amet tincidunt euismod. Curabitur non eros at risus dignissim mollis nec ac nisl.</p>
      <p>Pellentesque euismod diam non interdum congue. Fusce non diam eu risus lobortis viverra vitae in nisl. Cras quis odio quam. Duis efficitur libero eu mauris interdum gravida. Nam rhoncus velit nec lacus eleifend malesuada. Mauris hendrerit orci sed metus rhoncus auctor. Praesent bibendum magna nec nunc pharetra, in placerat ligula varius. Aliquam quis pretium felis. Duis aliquet ultrices quam at sagittis. Mauris commodo iaculis est, in faucibus justo pellentesque ac. Nulla gravida magna id laoreet suscipit. Donec tristique diam lectus, eu tempor tellus pellentesque a. Donec commodo tincidunt vestibulum. Proin at lectus ac dolor pharetra tempor.</p>
    </div>

  </body>
</html>

